@tailwind base;
@tailwind components;
@tailwind utilities;


* html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right top, #0d1321, #0c1527, #0a162d, #091733, #071839, #17193e, #251942, #321844, #491541, #5d1339, #6b172f, #742222);
}