@tailwind base;
@tailwind components;
@tailwind utilities;


* html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right top, #0d131c, #001c3b, #00245b, #002a7b, #0d2b99);
}